* {
	margin: 0;
	padding: 0;
}
ul {
     margin: 0; 
     padding: 0; 
     list-style: none;
}
ul  li {
	padding: 3px 10px 5px 5px;
}

*:focus
input:focus
button:focus {
	outline: none;
	box-shadow: 0 0 2px 1px #4d90fe;
}
html {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px !important;
    line-height: 10px !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
	font-size: 1.2rem;
	line-height: 1.2rem;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
.container {
	position:relative;
    top: 25px;
    margin: 0 auto;
    overflow-y: auto;
    z-index: 500;
    border: 1px solid black;
    width: 50em;
    height: 50em;

}
/* search container css */
.searchContainer {
	border-bottom: 1px solid #333;
	white-space: nowrap;
	text-align: left;
	height: 80px;
}
.searchContainer:before {
	content: '';
	display:inline-block;
	height: 50%;
	vertical-algin: middle;
	margin-right: 1.5em;
}
.searchBox {
	vertical-algin: middle;
	display: inline-block;
}
input[type="text"] {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	font-size: 1.2rem;
	width: 140px;
	height: 2.4rem;
	padding: 0.4rem 0.6rem;
	border: 1px solid #999;
	border-radius:3px;
	box-shadow: inset 1px 1px 0 0 #ccc;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 5px;
}
button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    background-color: #ffffff;
    border: none;
    min-width: 60px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px;
    height: 2.4rem;
    font-size: 1.2rem;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
button:hover {
        text-decoration: none;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    }
button:active {
	text-decoration: none;
    box-shadow: inset 2px 2px 2.5px 0 rgba(0, 0, 0, 0.35), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}
button.disabled {
    cursor: not-allowed !important;
    background: rgba(0, 0, 0, 0.1);
    color: #8d8d8d;
}

.resultSummary {
    display: flex;
    justify-content: space-between;
    height: 35px;
}
.resultCount {
    margin-top: 10px;
    margin-left: 15px;
}

/********* pagination **********/
.paginationHolder {
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin-top: 10px;
    margin-right: 5px;
}
.paginationPages {
    position: relative;
    top: 4px;
}
.pagination-next {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ccc;
    cursor: pointer;
   
}
.pagination-previous {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ccc;
    cursor: pointer;
    
}
.pagination-previous:hover,
.pagination-next:hover {
    text-decoration: none;
    color: #333333;
}

/********** result List **********/
.resultList .imgHolder {
	display: table-cell;
	padding-right: 10px;
	box-sizing: border-box;
	padding-left: 10px;
}
.resultList  .streamDetails {
	display: table-cell;
	vertical-align: top;
	overflow: hidden;
	width: 450px;
}

.streamDescription {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.5em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  display: inline-block;
  width: calc(100% - 170px);
  margin-top: 0.4em;
}

.streamDescription:after {
  content: '...';
  position: absolute;
  width: 100%;
  height: 1em;
  margin-top: 0.2em;
  background: white;
  top: 13px;
  left: 135px;
}


.resultList h1,
.resultList h4 {
	margin-top: 5px;
	margin-bottom: 10px;
}

